---
// import InlineLink from "../components/InlineLink.astro";
import AndroidQr from "../components/AndroidQr.astro";
import DownloadCard from "../components/DownloadCard.astro";
import WindowsQr from "../components/WindowsQr.astro";
import Layout from "../layouts/Layout.astro";
import {
  appLayoutImage,
  windowsLink,
  playstoreLink,
} from "../scripts/constants";
---

<!-- Home -->
<Layout>
  <div class="flex flex-col space-y-8 items-center justify-center">
    <!-- title -->
    <div class="flex flex-col text-center items-center justify-center">
      <!-- row of 2 images -->
      <div class="flex flex-row gap-8 m-4">
        <img src="/images/sierra.png" width="100" height="89" />
      </div>

      <!-- title -->
      <h1 class="text-6xl font-extrabold text-center text-blue">
        Download GRM
      </h1>

      <p class="text-lg mt-1 font-bold uppercase">For Windows & Android</p>
    </div>

    <!-- image -->
    <img
      src=`${appLayoutImage}`
      class=`rounded-lg bg-navy/5 p-8`
      width="800"
      height="550"
    />

    <!-- contents -->
    <div
      class="grid md:grid-cols-2 lg:grid-cols-2 gap-8 align-center justify-between content-between text-center"
    >
      <DownloadCard
        title="GRM for Windows"
        href=`${windowsLink}`
        buttonText="Get GRM for Windows 10 & 11"
        fileType="application/exe"
      >
        <WindowsQr />
      </DownloadCard>

      <DownloadCard
        title="GRM for Android"
        href=`${playstoreLink}`
        buttonText="Download from PlayStore"
      >
        <AndroidQr />
      </DownloadCard>
    </div>

    <!-- partners -->
    <div class="mt-2 space-y-4 flex flex-col items-center justify-center">
      <h1 class="text-4xl font-extrabold text-center text-navy">Partners</h1>

      <img src="/images/emblem.png" class="w-20 h-20 border border-navy/30 rounded-lg p-2"  height="61" width="75"/>

      <div
        class="flex flex-wrap items-center justify-center align-center gap-8 m-4"
      >
        <img
          src="/images/worldbank.png"
          class="w-40 border-navy/30 border rounded-lg p-4"
          height="89"
        />

        <img
          src="/images/unicef.png"
          class="w-40 border-navy/30 border rounded-lg p-4"
          height="89"
        />
      </div>
    </div>
  </div>
</Layout>
